<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>정화의 게시판 만들깅</title>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            </ul>

            <form class="d-flex mb-3 mb-lg-0 me-lg-3" role="search" th:action="@{/search}" method="get">
                <input type="search" name="q" class="form-control form-control-dark text-bg-dark" aria-label="q">
            </form>


            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
                <button th:onclick="|location.href='@{/createPost}'|" type="button" class="btn btn-outline-light" th:text="'글 작성'">글 작성</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>
